

/* ---------------------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:'Radio Canada', sans-serif ;
}

.header{
    width: 100%;
    height: 100vh;
    padding: 0 10%;
    background-image: url(images/defg.png);
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin:10px 30px;
}

nav ul li a {
    text-decoration: none;
    color:#3f51b5 ;
}

nav a:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.select {
    background-color: #3f51b5;
    background-image: linear-gradient(225deg, #3f51b5 10%, #d97ca1 70%, #d97ca1 100%);
    color: rgb(233, 223, 223);
    padding: 8px;
    width: 135px;
    height: 38px;
    border: none;
    font-size: 15px;
    box-shadow:0 5px 25px rgba(0, 0, 0, .5) ;
   border-radius: 10px;
   margin-top: 30px;
   
}

.select a {
    text-decoration: none;
    color: rgb(231, 223, 223);
    font-weight: 900;
}

.text-box{
    margin-top: 100px;
    max-width: 600px;

}

.text-box h1{
    font-size:30px;
    margin-bottom: 20px;
    color: #3f51b5;
}

.text-box p {
    width: 450px;
    text-align: justify;
}

.user-box{
    
    position: absolute;
    top: 0;
    right: 12%;
}

.user-box img{
    display: block;
    padding-top: 100px;
    margin-left: 20px;
}


.turing-box {
    position: absolute;
    top: 0;
    right: 12%;

}

.turing-box img {
    display: block;
    padding-top: 180px;
    margin-left: 20px;
}


.cifra-box {
    position: absolute;
    top: 0;
    right: 12%;
}

.cifra-box img {
    display: block;
    padding-top: 150px;
    margin-left: 20px;
}

.cesar-box {
    position: absolute;
    top: 0;
    right: 12%;
}

.cesar-box img {
    display: block;
    padding-top: 100px;
    margin-left:20px ;
}